/*HEADER*/
header{
	text-align: center;
	padding: 20px 0px;
}

.menu{
	width: 100%;
}
.botton{
	display: inline-block;
	text-decoration: none;
	color: #C0BEC0;
	margin: 0px 40px;
}
header h2{
	color: #81899F;
	padding: 0px 0px 20px 0px;
}

/*FOOTER*/
.contacto{
  	background-image: url("../img/shoes_1.jpg");
	background-repeat: no-repeat;
	background-position: right; 
	height: 500px;
}


.entrada{
    background: url(http://rexkirby.com/kirbyandson/images/name.svg)no-repeat scroll 0 0 transparent;
    width:70%;
    height: 35px;
    background-size:10% 70%;
    background-position:5px;
    border: 1px solid #D8D8D8 ;    
    padding-left: 10%;
    
}
#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
}

textarea{
    width: 70%;
    padding-left: 10%;
    padding-top: 8px;
    background: url(http://rexkirby.com/kirbyandson/images/comment.svg)no-repeat scroll 0 0 transparent;
    background-size: 5% 20%;
    background-position:16px 5px;
}
.contacto {
    padding-top: 40px;
}
.contacto button{
    width: 70%;
}

.mensaje p{
    margin-top: 20px;
}
.titulo_contacto{
    padding-left: 15%;
}
.boton{
    height: 50px;
    width: 100px;
    margin:1% 0;
    color: #fff;
    background-color: #020D1E ;
    border: none;
    cursor: pointer;
}
.boton:hover{
    background-color: rgba(26, 41, 81, 0.7);
}
.formulario{
	width: 60%
}
.pie{
	background-color: #192951;
	padding: 20px;
	color: #FFFFFF;
	font-size: 12px;
}